// Mixins in here

//buttons
.button {
    background-color: #008080;
    font-size: 18px;
    font-weight: 500;
    color: white;
    width: 83%;
    padding: 13px 10px;
    border-radius: 15px;
    text-align: center;
}