// Navigation Styles here

.navBar {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0px 24px;
    align-items: center;
    border-bottom: 2px dashed silver;
    justify-content: center;

    @media @tablet {
        .tabletMargin();
        justify-content: space-between;  
      }

    @media @mobile {
        flex-wrap: wrap;
        padding: 0px 0px 9px 0px;
    }
    
    div {
        width: 400px;
        padding-left: 3.3%;

        @media @tablet {
        padding: 0px 4%;
        text-align: right;
        }

        @media @mobile {
            padding: 0px 0px 0px 0px;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 155%;
            font-weight: 500;
            padding-left: 8.5%;

            @media @tablet {
                padding: 0px 0px 0px 2vh;
                }
            
            @media @mobile {
                width: 100%;
                text-align: center;
                padding: 0px 5% 0px 6%;
            }
        }  
    }
}

h1 {
    width: 400px;

    @media @tablet {
        width: 25%;
        font-size: 5vw;
        text-align: left; 
      }

    @media @mobile {
        width: 100%;
        font-size: 300%;
        padding: 15px 0px; 
        text-align: center;
    }

}
    